{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-4 ms-4  sticky-top shadow ">
  <div class="container-fluid">


 <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'home' %}">
  <img src="{% static 'Gymsystem/images/UmmahFit Logo Design.png' %}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top rounded">
  <span class="fw-bold fs-5 text-danger me-5">UmmahFit</span>
</a>

    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5 fw-semibold fs-5" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "about" %}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "contact" %}">Contact</a>
        </li>

        {% comment %} <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Membership</a>
        </li> {% endcomment %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "myprofile" %}">My_Profile</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url "services" %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "strength_training" %}">Strength Training</a></li>
            <li><a class="dropdown-item" href="{% url "weight_gain" %}">Weight Gain</a></li>
            <li><a class="dropdown-item" href="{% url "weight_loss" %}">Weight Loss</a></li>
            <li><a class="dropdown-item" href="{% url "cardio_training" %}">Cardio  Training</a></li>
            <li><a class="dropdown-item" href="{% url "yoga_guidance" %}">Yoga Guidance</a></li>


            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Training method select by Form </a></li>
          </ul>
        </li>


         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url "membership" %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Membership
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "monthly" %}">Monthly Fee</a></li>
            <li><a class="dropdown-item" href="{% url "yearly" %}">Year</a></li>
            <li><a class="dropdown-item" href="{% url "daily" %}">Daily(on use)</a></li>
            
          </ul>
        </li>


      </ul>
     
    </div>
     <div class="ms-auto me-5 d-flex gap-3">
       <button type="button" onclick="window.location.href='{% url 'signup' %}'" class="btn btn-success btn-lg" style="transition: transform 0.3s ease;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">
  Sign Up
</button>

<button type="button" onclick="window.location.href='{% url 'login' %}'" class="btn btn-success btn-lg" style="transition: transform 0.3s ease;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">
  Log In
</button>

      </div>
  </div>
</nav>